<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.base.mapper.UserMapper">
    <resultMap id="umap" type="user">
        <association property="signin" select="com.bjsxt.employee.mapper.SigninMapper.selSign" column="id"></association>
        <association property="role" select="com.bjsxt.base.mapper.RoleMapper.selRole" column="rid"></association>
        <collection property="menus" select="com.bjsxt.base.mapper.MenuMapper.selMenus" column="rid=rid,pid=pid"></collection>
    </resultMap>
    <select id="selUser" resultMap="umap">
        select u.*,0 pid from t_user u where (username=#{auth} or phone=#{auth}) and password=#{password}
    </select>
</mapper>